table {
    width: 95%;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    text-align: center;
}

td {
    width: 40%;
    border: 1px solid;
}

td.option {
    text-align: center;
    width: 30%;
}

fieldset {
    width: 90%;
}

h1.page-2 {
    text-align: center;
}

h3.page-2 {
    text-align: center;
}