body {
    color: #954B4E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F1E4E8;
}

nav {
    text-align: center;
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color: #C96365;
    text-align: center;
}

a:hover {
    color: #442223;
}
a.nav {
    color: #fff;
    background-color: #975E79;
    padding: 10px;
    border: 2px solid #5F3031;
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

a.nav:hover {
    color: #E3C9D1;
    background-color: #643F50;
}

a.nav:visited {
    color: #FFDEEE;
}

hr {
    color: #fff;
    border: none;
    background-color: #fff;
    height: 4px;
    max-width: 70%;
}

p {
    color: #71475A;
}

h1 {
    text-align: center;
}

h2 {
    color: #643F50;
    background-color: #BEB1B5;
    border: 2px solid #fff;
    border-radius: 10px;
    max-width: fit-content;
    text-align: center;
    padding: 15px;
    margin: auto;
}

h3 {
    color: #954B4E;
    font-weight: bold;
    text-align: center;
}

h4 {
    color: #954B4E;
}

h5 {
    text-align: center;
}

dd {
    color: #793E50;
    text-align: justify;
}

footer { 
    color: #954B4E;
    text-align: center;
    font-style: italic;
}

.objective {
    color: #8A3D63;
    font-weight: bold;
    font-family: 'Lucida Bright', 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.program {
    font-weight: bold;
}

.questions {
    border: 5px dashed #FFF;
    text-align: justify;
    max-width: fit-content;
    padding: 20px;
}

.FAQs {
    color: #A2536B;
}

.contact {
    display: inline-block;
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding: 10px;
}

#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#college {
    font-weight: bold;
    color: #600;
}

#address {
    text-align: center;
    border: 7px solid #fff;
    margin: auto;
    max-width: fit-content;
    padding: 20px 10px;
    border-radius: 10px;
    border-style: double;
}

#contact {
    display: flex;
}

#how {
    border: 5px dashed #fff;
}

#instructor {
    border: 5px solid #fff;
}

#JJC {
    font-weight: bold;
    font-style: italic;
    font-size: 1.15em;
}